<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf_token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <%= if assigns[:api_token] do %>
    <meta name="api_token" content="<%= @api_token %>">
    <% end %>

    <%= if assigns[:module] do %>
    <meta name="module" content="<%= @module %>">
    <% end %>

    <%= if assigns[:space_id] do %>
    <meta name="space_id" content="<%= @space_id %>">
    <% end %>

    <title>Level</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="font-sans font-antialised" data-stretchy-filter=".js-stretchy">
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
