<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf_token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <meta name="env" content="<%= Application.get_env(:level, :env) %>">
    <meta name="honeybadger_js_api_key" content="<%= Application.get_env(:level, :honeybadger_js)[:api_key] %>">

    <%= if assigns[:api_token] do %>
    <meta name="api_token" content="<%= @api_token %>">
    <% end %>

    <%= if assigns[:module] do %>
    <meta name="module" content="<%= @module %>">
    <% end %>

    <meta name="web_push_public_key" content="<%= Application.get_env(:web_push_encryption, :vapid_details)[:public_key] %>">

    <%= if assigns[:page_title] do %>
    <title><%= @page_title %></title>
    <% else %>
    <title>Level</title>
    <% end %>

    <link rel="stylesheet" href="<%= static_url(@conn, "/css/fonts.css") %>">
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/app.css") %>">

    <link rel="shortcut icon" href="<%= static_url(@conn, "/favicon.ico") %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= static_url(@conn, "/apple-touch-icon.png") %>">
    <link rel="manifest" href="<%= static_url(@conn, "/site.webmanifest") %>">
    <meta name="msapplication-TileColor" content="#12C1D5">
    <meta name="theme-color" content="#ffffff">

    <%= if Application.get_env(:level, :fullstory)[:org] do %>
    <!-- FullStory -->
    <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_org'] = '<%= Application.get_env(:level, :fullstory)[:org] %>';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
        if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
        g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
        o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
        g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
        g.consent=function(a){g("consent",!arguments.length||a)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(){};
    })(window,document,window['_fs_namespace'],'script','user');
    </script>

    <%= if assigns[:current_user] do %>
    <script>
      FS.identify("<%= assigns[:current_user].id %>", {
        displayName: '<%= Level.Schemas.User.display_name(assigns[:current_user]) %>',
        email: '<%= assigns[:current_user].email %>'
      });
    </script>
    <% end %>
    <!-- / FullStory -->
    <% end %>

    <%= if Application.get_env(:level, :heap_analytics)[:app_id] do %>
    <!-- Heap -->
    <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("<%= Application.get_env(:level, :heap_analytics)[:app_id] %>");
    </script>

    <%= if assigns[:current_user] do %>
    <script type="text/javascript">
      heap.identify("<%= assigns[:current_user].id %>");
      heap.addUserProperties({
        "email": "<%= assigns[:current_user].email %>",
        "display_name": "<%= Level.Schemas.User.display_name(assigns[:current_user]) %>"
      });
    </script>
    <% end %>
    <!-- / Heap -->
    <% end %>

    <!-- Headway -->
    <script>
      var HW_config = {
        selector: "#headway", // CSS selector where to inject the badge
        account: "7Q9Qv7" // your account ID, you can find it in Settings->Widget
      };
    </script>
    <script async src="//cdn.headwayapp.co/widget.js"></script>
    <!-- / Headway -->
  </head>

  <body>
    <div class="font-sans font-antialised" data-stretchy-filter=".js-stretchy">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
