<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf_token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <%= if assigns[:module] do %>
    <meta name="module" content="<%= @module %>">
    <% end %>

    <title>Level</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="font-sans font-antialised text-dusty-blue-darker leading-normal text-xl bg-dusty-blue-darkest selection-turquoise">
    <div class="bg-white">
      <div class="container mx-auto p-8">
        <div class="flex xl:pb-24 pb-16 items-center">
          <%= link to: page_path(@conn, :index), class: "logo-md" do %>
            <%= img_tag(static_path(@conn, "/images/logo-md.svg"), alt: "Level", class: "block") %>
          <% end %>

          <div class="flex flex-grow justify-end">
            <%= link "Code", to: "https://github.com/levelhq/level", class: "ml-6 text-blue no-underline" %>
            <%= link "Manifesto", to: page_path(@conn, :manifesto), class: "ml-6 text-blue no-underline" %>
          </div>
        </div>

        <%= render @view_module, @view_template, assigns %>
      </div>

      <div class="bg-dusty-blue-darkest">
        <div class="container mx-auto mt-16 p-8 border-grey text-center">
          <span class="text-white opacity-75 text-sm">&copy 2018 Level Technologies, LLC</span>
        </div>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
