.auth-form {
  margin: 0 auto;
  padding: 100px 0 0 0;
  width: 380px;

  &__heading {
    padding-bottom: 12px;
    font-size: 30px;
    font-weight: $bold-weight;
    text-align: center;
  }

  &__form {
    padding: 24px;
    border: 1px solid;
    border-radius: 6px;
  }

  &__footer {
    margin: 24px 0;
    text-align: center;
    font-weight: $normal-weight;
  }

  label {
    padding-bottom: 8px;
    display: block;
    font-size: $default-font-size;
    font-weight: $bold-weight;
  }

  .form-field {
    margin-bottom: 24px;
  }
}
