.button {
  @include shadow-on-focus;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: $baseline;
  padding-right: $baseline;
  border: none;
  border-radius: 3px;
  font-family: $system-font-stack;
  font-weight: $bold-weight;
  font-size: 15px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  & + & {
    margin-left: $baseline;
  }

  &--tiny {
    height: 28px;
  }

  &--short {
    height: 36px;
  }

  &--large {
    height: 48px;
    padding-left: $baseline * 1.5;
    padding-right: $baseline * 1.5;
  }

  &--full {
    width: 100%;
  }

  &--primary {
    background-color: $button-primary-color;

    @if $gradient-buttons {
      background-image: linear-gradient(0deg, darken($button-primary-color, 8%), $button-primary-color);
    }

    color: $button-primary-text-color;

    &:hover:not(:disabled) {
      background-color: lighten($button-primary-color, 2%);

      @if $gradient-buttons {
        background-image: linear-gradient(0deg, darken($button-primary-color, 6%), lighten($button-primary-color, 2%));
      }
    }

    &:active,
    &:hover:active {
      background-color: darken($button-primary-color, 10%);

      @if $gradient-buttons {
        background-image: linear-gradient(0deg, darken($button-primary-color, 6%), $button-primary-color);
      }
    }

    &:disabled,
    &--disabled {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &--subdued {
    background-color: $button-subdued-color;
    color: $button-subdued-text-color;

    &:hover:not(:disabled) {
      background-color: lighten($button-subdued-color, 2%);
    }

    &:active,
    &:hover:active {
      background-color: darken($button-subdued-color, 10%);
    }

    &:disabled,
    &--disabled {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &--secondary {
    transition: border-color 0.2s ease, color 0.2s ease;
    // border: 1px solid $button-secondary-border-color;
    background: transparent;
    color: $muted-text-color;

    &:hover:not(:disabled) {
      // border-color: $button-secondary-active-border-color;
      color: $default-text-color;
    }

    &:disabled,
    &--disabled {
      opacity: 0.5;
    }

    &:active,
    &:hover:active,
    &:focus {
      box-shadow: none;
    }
  }

  &--convo {
    display: flex;
    justify-content: left;

    svg {
      position: relative;
      margin-right: 3px;
      left: -2px;
    }
  }
}
