.button {
  @include shadow-on-focus;

  padding: 15px;
  border: none;
  border-radius: 3px;
  font-weight: $bold-weight;
  font-size: $default-font-size;
  cursor: pointer;

  &--full {
    width: 100%;
  }

  &--primary {
    transition: background-color 0.2s ease;
    background-color: $button-primary-color;
    background-image: linear-gradient(0deg, darken($button-primary-color, 8%), $button-primary-color);
    color: $button-primary-text-color;

    &:hover {
      background-color: lighten($button-primary-color, 5%);
      background-image: linear-gradient(0deg, darken($button-primary-color, 6%), lighten($button-primary-color, 2%));
    }

    &:active {
      background-color: darken($button-primary-color, 10%);
      background-image: linear-gradient(0deg, darken($button-primary-color, 6%), $button-primary-color);
    }

    &:disabled,
    &--disabled {
      background-color: lighten($button-primary-color, 15%);
      background-image: linear-gradient(0deg, lighten($button-primary-color, 8%), lighten($button-primary-color, 15%));
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
