.button {
  @include shadow-on-focus;

  padding-left: 12px;
  padding-right: 12px;
  border: none;
  border-radius: 3px;
  font-family: $system-font-stack;
  font-weight: $bold-weight;
  font-size: 15px;
  height: 40px;
  cursor: pointer;

  & + & {
    margin-left: $baseline;
  }

  &--short {
    padding-top: $baseline * 0.8;
    padding-bottom: $baseline * 0.8;
  }

  &--large {
    padding: 15px;
  }

  &--full {
    width: 100%;
  }

  &--primary {
    transition: background-color 0.2s ease;
    background-color: $button-primary-color;
    background-image: linear-gradient(0deg, darken($button-primary-color, 8%), $button-primary-color);
    color: $button-primary-text-color;

    &:hover:not(:disabled) {
      background-color: lighten($button-primary-color, 5%);
      background-image: linear-gradient(0deg, darken($button-primary-color, 6%), lighten($button-primary-color, 2%));
    }

    &:active {
      background-color: darken($button-primary-color, 10%);
      background-image: linear-gradient(0deg, darken($button-primary-color, 6%), $button-primary-color);
    }

    &:disabled,
    &--disabled {
      background-color: lighten($button-primary-color, 15%);
      background-image: linear-gradient(0deg, lighten($button-primary-color, 8%), lighten($button-primary-color, 15%));
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &--secondary {
    transition: border-color 0.2s ease, color 0.2s ease;
    // border: 1px solid $button-secondary-border-color;
    background: transparent;
    color: $muted-text-color;

    &:hover:not(:disabled) {
      // border-color: $button-secondary-active-border-color;
      color: $default-text-color;
    }

    &:disabled,
    &--disabled {
      opacity: 0.5;
    }
  }
}
