.checkbox-toggle {
  $switch-height: 22px;
  $switch-width: $switch-height * 2;
  $switch-pad: 4px;

  position: relative;

  & > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    position: relative;
    display: inline-block;
    padding-top: 2px;
    padding-left: $switch-width + ($switch-pad * 2) + $baseline;
    cursor: pointer;
  }

  &__switch {
    position: absolute;
    left: 0;
    top: 0;
    background: $input-muted-background-color;
    width: $switch-width + ($switch-pad * 2);
    height: $switch-height + ($switch-pad * 2);
    border-radius: 9999px;
    padding: $switch-pad;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: $switch-pad;
      left: $switch-pad;
      width: $switch-height;
      height: $switch-height;
      border-radius: 9999px;
      background-color: rgba(255,255,255,0.2); // $background-color;
      transition: transform 100ms ease, background-color 200ms ease;
    }
  }

  input:checked ~ &__label {

    .checkbox-toggle__switch:before {
      transform: translate($switch-height, 0);
      background-color: $button-primary-color;
    }
  }
}
