#cockpit {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-gap: 0 0;
  grid-template-columns: $sidebar-width auto $sidebar-width;
  grid-template-rows: auto;
  grid-template-areas:
    "left-sidebar main right-sidebar";
  justify-content: stretch;
}

#sidebar-left {
  grid-area: left-sidebar;
  height: 100vh;
}

#sidebar-right {
  grid-area: right-sidebar;
  height: 100vh;
}

#main {
  grid-area: main;
  height: 100vh;
}

.sidebar {
  background-color: $sidebar-color;

  &__button-container {
    padding: $baseline $baseline $baseline * 1.5;
  }
}

.sidebar-left {
  display: grid;
  grid-gap: 0 0;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "head"
    "nav";

  &__head {
    grid-area: head;
  }

  &__nav {
    grid-area: nav;
    overflow-y: scroll;
  }
}

.sidebar-right {
  display: grid;
  grid-gap: 0 0;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "head"
    "nav";

  &__head {
    grid-area: head;
  }

  &__nav {
    grid-area: nav;
    overflow-y: scroll;
  }
}

.space-selector,
.identity-menu {
  background-color: $sidebar-color;

  &__toggle {
    padding: $baseline;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $default-text-color;

    &:hover {
      text-decoration: none;
      background-color: $sidebar-hover;
    }
  }

  &__avatar {
    margin-right: $baseline;
    border-radius: $base-radius;
    width: $large-avatar-size;
    height: $large-avatar-size;
    background-color: $default-avatar-color;
    flex: 0 0 auto;

    &--placeholder {
      @include loading-pulse;
    }
  }

  &__content {
    font-weight: $bold-weight;
  }

  &__loading-placeholder {
    @include loading-pulse;

    width: 120px;
    height: $default-font-size;
    border-radius: $base-radius;
  }
}

.side-nav-heading {
  margin: 0 0 0 $baseline;
  padding: $baseline / 2 0;
  font-size: 15px;
  font-weight: normal;
  color: $muted-text-color;
}

.side-nav {
  margin: 0 0 18px;

  &__item {
    position: relative;
    display: flex;
    margin: 0 0 0 $baseline;
    padding: 1px $baseline;
    border-radius: $base-radius 0 0 $base-radius;
    color: $default-text-color;

    &:hover {
      text-decoration: none;
      background-color: $sidebar-hover;
    }

    &--selected {
      font-weight: $bold-weight;
      background-color: $background-color;

      &:hover {
        background-color: $background-color;
      }
    }

    &--action {
      margin-top: $baseline;
    }
  }

  &__item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  &__item-icon {
    flex: 0 0;
    margin-left: 4px;
  }

  &__item-indicator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0;
    margin-left: 6px;
    text-align: right;
  }

  &__dot {
    display: block;
    width: 5px;
    height: 5px;
    background-color: $highlight-color;
    border-radius: 20px;
  }
}

.top-nav {
  padding: $baseline;
  display: flex;
  justify-content: space-between;
}

.new-conversation-button {
  height: 36px;
}

.users-list {
  &__item {
    display: block;
    padding: 0 $baseline;
    color: $default-text-color;

    &:hover {
      text-decoration: none;
      background-color: $sidebar-hover;
    }

    &--offline {
      color: $offline-text-color;
    }
  }

  &__name {
    vertical-align: middle;
  }
}

.state-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: $baseline / 2;
  border-radius: 50px;

  &--available {
    background-color: $available-color;
  }

  &--focus {
    border: 3px solid $focus-color;
  }

  &--offline {
    border: 3px solid $offline-color;
  }
}

.blank-slate {
  text-align: center;
  padding: 100px $baseline;
}
