.inline-flash {
  padding: 18px;
  text-align: center;
  font-weight: $bold-weight;

  &--info {
    background-color: $success-color;
    color: #fff;
  }

  &--error {
    background-color: $error-color;
    color: #fff;
  }
}

.flash {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: $baseline / 2 $baseline * 2;
  border-bottom: 4px solid darken($highlight-color, 20%);
  font-weight: bold;

  &--notice {
    background-color: $highlight-color;
    color: $background-color;
  }
}
