// Stacks
$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Weights
$light-weight: 200;
$medium-weight: 300;
$normal-weight: 400;
$bold-weight: 700;
$very-bold-weight: 800;

// Sizes
$default-font-size: 15px;
