.text-field {
  font-family: $system-font-stack;
  font-weight: $normal-weight;
  padding: 15px;
  border: none;
  border-radius: 3px;
  font-size: $default-font-size;
  transition: background-color 0.2s ease;

  &--full {
    width: 100%;
  }
}

.slug-field {
  border-radius: 3px;
  display: flex;
  align-items: baseline;

  &__domain {
    flex: 0 1;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__slug {
    flex: 1 1; // the first 1 means this can auto-grow
    width: 100%;
    border-radius: 0 3px 3px 0;
  }
}

.form-errors {
  margin-top: 6px;
  font-weight: $bold-weight;
}

.form-controls {
  margin-top: 32px;
}
