// FORM FIELDS

.form-field {
  &--error {
    .text-field {
      background-color: $error-color;

      &::placeholder {
        opacity: 0;
        color: lighten($error-color, 30%);
      }

      &:hover,
      &:active,
      &:focus {
        background-color: lighten($error-color, 5%);
      }
    }
  }
}

.text-field {
  @include shadow-on-focus;

  font-family: $system-font-stack;
  font-weight: $normal-weight;
  padding: $baseline;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: $base-radius;
  transition: background-color 0.2s ease;
  background-color: $input-background-color;
  color: $input-text-color;

  &::placeholder {
    color: lighten($input-background-color, 20%);
  }

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($input-background-color, 5%);
  }

  &--full {
    width: 100%;
  }

  &--large {
    padding: 15px;
    font-size: $default-font-size;
    height: auto;
  }

  &--muted {
    background-color: $input-muted-background-color;

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($input-muted-background-color, 5%);
    }
  }

  &[readonly] {
    color: $muted-text-color;
    background-color: $input-muted-background-color;

    &:hover,
    &:active,
    &:focus {
      background-color: $input-muted-background-color;
    }
  }
}

.slug-field {
  border-radius: $base-radius;
  display: flex;
  align-items: baseline;
  background-color: darken($input-background-color, 20%);

  &__slug {
    flex: 0 1;
    min-width: 120px;

    input {
      border-radius: $base-radius 0 0 $base-radius;
      width: 100%;
      // text-align: right;
    }
  }

  &__domain {
    flex: 1 1; // the first 1 means this can auto-grow
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}

.textarea {
  padding: 10px $baseline;
  line-height: 1.5;
}

.form-errors {
  color: $error-color;
  margin-top: 6px;
  font-weight: $bold-weight;
}

.form-controls {
  margin-top: 32px;
}

label.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: $base-radius;
  background-color: $input-muted-background-color;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__indicator {

  }
}

.inline-field-group {
  display: flex;

  .form-field {
    flex: 1 1;
    margin-left: $baseline / 2;
    margin-right: $baseline / 2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// FORM STRUCTURE

.cform {
  margin: 0 auto;
  padding: 100px $baseline * 2;
  max-width: 380px;

  &__form {

    &--bordered {
      padding: $baseline * 2;
      border: 1px solid;
      border-radius: $base-radius * 2;
      border-color: $default-border-color;
    }
  }

  &__header {
    margin-bottom: 32px;

    &--centered {
      text-align: center;
    }
  }

  &__heading {
    margin: $baseline * 2 0;
    font-size: 36px;
    line-height: 1.4;
    font-weight: $normal-weight;
  }

  &__description {
    margin: 0;
    font-size: 16px;
    color: $muted-text-color;
  }

  &__footer {
    margin: 24px 0;
    font-weight: $normal-weight;
    color: $muted-text-color;

    &--centered {
      text-align: center;
    }
  }

  .form-field {
    margin-bottom: $baseline * 2;
  }

  .form-label {
    padding-bottom: $baseline / 2;
    display: block;
    font-size: $default-font-size;
    font-weight: $bold-weight;
  }
}
