* {
  box-sizing: border-box;
}

body {
  font-family: $system-font-stack;
  font-weight: $normal-weight;
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  background-color: $background-color;
  color: $default-text-color;
}

a {
  text-decoration: none;
  color: $default-link-color;

  &:hover {
    text-decoration: underline;
  }
}

.inline-flash {
  padding: 18px;
  text-align: center;
  font-weight: $bold-weight;

  &--info {
    background-color: $success-color;
    color: #fff;
  }

  &--error {
    background-color: $error-color;
    color: #fff;
  }
}
