* {
  box-sizing: border-box;
}

body {
  font-family: $system-font-stack;
  font-weight: $normal-weight;
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.inline-flash {
  padding: 18px;
  text-align: center;
  font-weight: $bold-weight;
}
