#app {
  font-size: $default-font-size;
}

.sidebar {
  background-color: $sidebar-color;

  &__button-container {
    padding: $baseline;
  }
}

.space-selector,
.identity-menu {
  background-color: $sidebar-color;

  &__toggle {
    padding: $baseline;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $default-text-color;

    &:hover {
      text-decoration: none;
      background-color: $sidebar-hover;
    }
  }

  &__avatar {
    margin-right: $baseline;
    border-radius: $base-radius;
    width: $large-avatar-size;
    height: $large-avatar-size;
    background-color: $default-avatar-color;
    flex: 0 0 auto;

    &--placeholder {
      @include loading-pulse;
    }
  }

  &__content {
    font-weight: $bold-weight;
  }

  &__loading-placeholder {
    @include loading-pulse;
    width: 120px;
    height: $default-font-size;
    border-radius: $base-radius;
  }
}

// .space-selector__name {
//   font-size: $default-font-size + 2px;
// }

.side-nav-heading {
  margin: 0 0 0 $baseline;
  padding: $baseline / 2 0;
  font-size: 15px;
  font-weight: normal;
  color: $muted-text-color;
}

.side-nav {
  margin: 0 0 18px;

  &__item {
    position: relative;
    display: block;
    margin: 0 0 0 $baseline;
    padding: 1px $baseline;
    border-radius: $base-radius 0 0 $base-radius;
    color: $default-text-color;

    &:hover {
      text-decoration: none;
      background-color: $sidebar-hover;
    }

    &--selected {
      font-weight: $bold-weight;
      background-color: $background-color;

      &:hover {
        background-color: $background-color;
      }
    }

    // &--room:before {
    //   content: "#";
    //   padding-right: $baseline / 2;
    //   opacity: 0.5;
    // }
  }
}

.top-nav {
  padding: $baseline;
  display: flex;
  justify-content: space-between;
}

.search-field {
  // width: 350px;
  flex: 0 1 350px;
}

.new-conversation-button {
  height: 34px;
}

.users-list {
  &__item {
    display: block;
    padding: 0 $baseline;
    color: $default-text-color;

    &:hover {
      text-decoration: none;
      background-color: $sidebar-hover;
    }

    &--offline {
      color: $offline-text-color;
    }
  }

  &__name {
    vertical-align: middle;
  }
}

.state-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: $baseline / 2;
  border-radius: 50px;

  &--available {
    background-color: $available-color;
  }

  &--focus {
    border: 3px solid $focus-color;
  }

  &--offline {
    border: 3px solid $offline-color;
  }
}

.blank-slate {
  text-align: center;
  padding: 100px $baseline;
}
