.messages {
  padding: 0 $baseline $baseline / 2;
  overflow-y: scroll;
}

.message-time-group {
  &__head {
    padding: $baseline * 4 0 $baseline / 2;
    text-align: center;
    border-bottom: 1px solid $default-border-color;
  }

  &__timestamp {
    font-size: 14px;
    font-weight: $bold-weight;
  }

  &__messages {
    padding: 0 $baseline;
  }

  &:first-child {
    .message-time-group__head {
      padding-top: $baseline / 2;
    }
  }
}

.message-head {
  display: flex;
  padding-top: $baseline * 1.5;

  &__avatar {
    flex: 0 0 auto;
    margin-right: $baseline;
    border-radius: $base-radius;
    width: $jumbo-avatar-size;
    height: $jumbo-avatar-size;
    background-color: $default-avatar-color;
    // box-shadow: 0 0 ($baseline * 2) rgba(0,0,0,0.4);
  }

  &__contents {
    flex: 1 1 auto;
  }

  &__name {
    font-weight: $bold-weight;
    // color: $muted-text-color;
    margin-right: 8px;
  }

  &__middot {
    margin: 0 $baseline / 2;
    display: none;
  }

  &__timestamp {
    color: $muted-text-color;
    font-size: 14px;
  }
}

.message-tail {
  display: flex;
  padding-top: $baseline / 2;

  &__timestamp {
    transition: opacity 0.2s ease;
    flex: 0 0 auto;
    margin-top: 4px;
    margin-right: $baseline;
    width: $jumbo-avatar-size;
    font-size: 12px;
    text-align: right;
    color: $muted-text-color;
    vertical-align: middle;
    visibility: hidden;
  }

  &__contents {
    flex: 1 1 auto;
  }

  &:hover {
    .message-tail__timestamp {
      visibility: visible;
    }
  }
}

.loading-more {
  padding: $baseline 0;
  text-align: center;
  font-style: italic;
}
