.messages {
  position: relative;
  padding: 0 $baseline * 2 $baseline;
  overflow-y: auto;
}

.message {
  display: flex;
  padding-top: $baseline;

  &__avatar {
    flex: 0 0 auto;
    margin-right: $baseline;
    border-radius: $base-radius;
    width: $jumbo-avatar-size;
    height: $jumbo-avatar-size;
    background-color: $default-avatar-color;
  }

  &__contents {
    flex: 1 1 auto;
  }

  &__name {
    font-weight: $bold-weight;
  }

  &__middot {
    margin: 0 $baseline / 2;
  }

  &__timestamp {
    color: $muted-text-color;
    font-size: 14px;
  }
}
