.page-head {
  margin: 0 $baseline;
  padding: $baseline;
  // border-bottom: 1px solid $item-list-border-color;
  // box-shadow: 0 2px 15px rgba(0,0,0,0.40);
  // box-shadow: 0 1px rgba(255,255,255,0.1);
  // box-shadow: 0 1px rgba(0,0,0,0.7);
  // box-shadow: 0 2px 12px rgba(0,0,0,0.30);
  // background-color: darken($background-color, 5%);
  border-bottom: 1px solid $dark-liver;
  z-index: 1000;

  &__header {
    display: flex;
    overflow: hidden;
  }

  &__title {
    display: flex;
    align-items: center;
    min-width: 0;
    flex: 1 1;
  }

  &__controls {
    white-space: nowrap;
    flex: 0 1 auto;
  }

  &__title-text {
    flex: 0 1 auto;
    min-width: 0;
    margin: 0;
    font-size: 24px;
    font-weight: $very-bold-weight;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title-icon {
    flex: 0 0;
    margin-left: 6px;
  }

  &__description {
    margin: 0;
    color: $muted-text-color;
  }
}
