.signup-form {
  margin: 120px auto;
  padding: $baseline;
  max-width: 500px;

  $number-width: 44px;
  $inner-padding: $baseline * 1.5;

  &__header {
    margin: 0 ($number-width / 2);
    padding-bottom: ($baseline * 4);

    p {
      margin: 0;
      font-size: 20px;
      line-height: 1.5;
      color: $muted-text-color;
    }
  }

  &__heading {
    margin: 0 0 $baseline;
    font-size: 46px;
    font-weight: normal;
  }

  &__section {
    margin-bottom: $baseline * 2;
  }

  &__section-header {
    margin-bottom: $baseline * 2;
    font-size: 24px;
    font-weight: bold;
  }

  &__section-body {
    padding: $baseline ($number-width / 2 + $inner-padding);
    margin: 0 $number-width / 2;
    border-left: 1px solid $default-border-color;
  }

  &__section-number {
    display: inline-block;
    margin-right: $inner-padding;
    width: $number-width;
    height: $number-width;
    border-radius: 99px;
    text-align: center;
    color: $default-link-color;
    border: 1px solid $default-link-color;
  }

  &__controls {
    position: relative;
    margin-top: -$baseline * 2;
    padding: 0 $number-width + $inner-padding;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: $baseline * 2;
      height: $baseline * 2;
      left: $number-width / 2;
      top: 0;
      border-radius: 0 0 0 $base-radius * 2;
      border-left: 1px solid $default-border-color;
      border-bottom: 1px solid $default-border-color;
    }
  }

  &__footer {
    margin: 24px 0;
    text-align: center;
    font-weight: $normal-weight;
    color: $muted-text-color;
  }

  .form-field {
    margin-bottom: $baseline * 2;
  }

  .form-label {
    padding-bottom: $baseline / 2;
    display: block;
    font-size: $default-font-size;
    font-weight: $bold-weight;
  }
}
