.auth-form,
.team-switcher {
  margin: 0 auto;
  padding: 100px 0 0;
  width: 380px;

  &__heading {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: $normal-weight;
    text-align: center;
  }

  &__footer {
    margin: 24px 0;
    text-align: center;
    font-weight: $normal-weight;
    color: $muted-text-color;
  }
}

.auth-form {
  &__form {
    padding: $baseline * 2;
    border: 1px solid;
    border-radius: $base-radius * 2;
    border-color: $default-border-color;
  }

  .form-field {
    margin-bottom: $baseline * 2;
  }

  label {
    padding-bottom: $baseline / 2;
    display: block;
    font-size: $default-font-size;
    font-weight: $bold-weight;
  }
}

.team-switcher {
  &__teams {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li {
      padding-bottom: $baseline;

      &:last-child {
        padding-bottom: 0;
      }

      & > a {
        display: flex;
        padding: $baseline;
        border-radius: $base-radius * 1.3;
        text-decoration: none;
        background-color: $light-background-color;
      }
    }
  }

  &__avatar {
    flex: none;
    width: 62px;
    height: 62px;
    border-radius: $base-radius;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__details {
    flex: 1 1;
    padding: 8px 18px 0;
    color: $default-text-color;
  }

  &__name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  &__url {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }

  &__add {
    display: inline-block;
    padding-left: 42px;
    line-height: 32px;
    background: top left url("/images/dark/icon-plus.svg") no-repeat;
    color: $muted-text-color;
  }
}
