body {
  // a little higher specificity than what elm uses by default
  .elm-mini-controls {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .elm-mini-controls-import-export {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
