.resource-list {
  &__item {
    display: flex;
    align-items: center;
    padding: $baseline 0;
    border-bottom: 1px solid $item-list-border-color;
  }

  &__heading {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: $normal-weight;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__content {
    flex: 1 1;
    min-width: 0;
    padding-right: $baseline;
  }

  &__controls {
    flex: 0 1;
  }
}
