// Backgrounds
$background-color: #2d232e;
$light-background-color: #4e4554;
$sidebar-color: #151116;
$sidebar-hover: rgba(255, 255, 255, 0.04);

// Text
$default-text-color: #c7cad0;
$muted-text-color: #9096a2;
$default-link-color: #4990e2;
$default-border-color: #534b54;

// States
$error-color: #db5461;
$success-color: #8ed081;

// Forms
$input-background-color: #6f687c;
$input-muted-background-color: #4c4653;
$input-text-color: #fff;

// Buttons
$button-primary-color: #1e85fc;
$button-primary-text-color: #fff;
