// Backgrounds
$background-color: #2D232E;
$light-background-color: #4E4554;
$sidebar-color: #151116;
$sidebar-hover: rgba(255,255,255,0.04);

// Text
$default-text-color: #C7CAD0;
$muted-text-color: #9096A2;
$default-link-color: #4990E2;
$default-border-color: #534B54;

// States
$error-color: #DB5461;
$success-color: #8ED081;

// Forms
$input-background-color: #6F687C;
$input-text-color: #FFFFFF;

// Buttons
$button-primary-color: #1E85FC;
$button-primary-text-color: #FFFFFF;
