// ------ COLOR DEFINITIONS ------

// Darks and grays
$licorice: #151116;
$dark-purple: #2d232e;
$quartz: #4e4554; // #4c4653; (4e is a little more purple)
$lavendar-gray: #c7cad0;
$gray-blue: #9096a2;
$old-lavendar: #6f687c;
$dark-liver: #534b54;

// Blues
$united-nations-blue: #4990e2;
$dodger-blue: #1e85fc;

// Reds
$dark-terra-cotta: #db5461;

// Greens
$pistachio: #8ed081;

// Oranges
$vivid-orange-peel: #f0a202;


// ------ SEMANTIC DEFINITIONS ------

// Backgrounds
$background-color: $dark-purple;
$light-background-color: $quartz;
$sidebar-color: $licorice;
$sidebar-hover: rgba(255, 255, 255, 0.04);
$default-avatar-color: $old-lavendar;

// Borders
$default-border-color: $dark-liver;
$item-list-border-color: $licorice;

// Text
$default-text-color: $lavendar-gray;
$muted-text-color: $gray-blue;
$offline-text-color: $old-lavendar;
$default-link-color: $united-nations-blue;

// Generic states
$error-color: $dark-terra-cotta;
$success-color: $pistachio;
$highlight-color: $vivid-orange-peel;

// User states
$available-color: $pistachio;
$focus-color: $vivid-orange-peel;
$offline-color: $quartz;

// Forms
$input-background-color: $old-lavendar;
$input-muted-background-color: $quartz;
$input-text-color: #fff;

// Buttons
$button-primary-color: $dodger-blue;
$button-primary-text-color: #fff;

$button-secondary-border-color: $quartz;
$button-secondary-active-border-color: lighten($quartz, 10%);
