.form-field {

  &--error {

    .text-field {
      background-color: $error-color;

      &::placeholder {
        opacity: 0;
        color: lighten($error-color, 30%);
      }

      &:hover,
      &:active,
      &:focus {
        background-color: lighten($error-color, 5%);
      }
    }
  }
}

.text-field {
  @include shadow-on-focus;

  background-color: $input-background-color;
  color: $input-text-color;

  &::placeholder {
    color: lighten($input-background-color, 20%);
  }

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($input-background-color, 5%);
  }
}

.slug-field {
  background-color: darken($input-background-color, 20%);
}

.form-errors {
  color: $error-color;
}
