body {
  background-color: $background-color;
  color: $default-text-color;
}

a {
  color: $default-link-color;
}

.inline-flash {

  &--info {
    background-color: $success-color;
    color: #fff;
  }

  &--error {
    background-color: $error-color;
    color: #fff;
  }
}
