.text-field {
  font-family: $system-font-stack;
  font-weight: $normal-weight;
  padding: 15px;
  border: none;
  border-radius: 3px;
  font-size: $default-font-size;
  transition: background-color 0.2s ease;

  &--full {
    width: 100%;
  }
}

.subdomain-field-container {
  padding-right: 15px;
  border-radius: 3px;
}

.form-errors {
  margin-top: 6px;
  font-weight: $bold-weight;
}

.form-controls {
  margin-top: 32px;
}
