You have been invited to join the <%= @team.name %> team on Bridge by <%= @invitor.email %>.

Follow this link to accept your invitation:
<%= String.replace(invitation_url(Bridge.Web.Endpoint, :show, @invitation), "//", "//#{@team.slug}.") %>

—
Sent by Bridge
