<p>You're receiving this email because you requested a password reset for your Level account.</p>

<p>Use the link below to choose a new password. If you did not request to reset your password, ignore this email and the link will expire on its own.</p>

<p><%= link gettext("Reset my password"), to: password_reset_url(LevelWeb.Endpoint, :show, @password_reset) %></p>
