// Color palette
$background-color: #2D232E;
$default-text-color: #C7CAD0;
$muted-text-color: #9096A2;
$default-link-color: #4990E2;
$default-border-color: #534B54;

// Forms
$input-background-color: #534B54;
$input-background-active-color: #665F67;
$input-text-color: #FFFFFF;

// Buttons
$button-primary-color: #1E85FC;
$button-primary-text-color: #FFFFFF;
