You have been invited by <%= @invitor.email %> to join the <%= @team.name %> team on Neuron.

Follow this link to accept your invitation:
<%= @invitation_url %>

If you don't recognize who sent this invitation, feel free to ignore it!

—
Sent by Neuron
